{% extends 'chat/index.html' %}
{% block form %}
<h3>
Registro QuboChat
</h3>
<form id="register-form" class="form-group" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="input-field col s12">
            {{ form.username }}
            <label for="{{ form.username.id_for_label }}">Usuario</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.password1 }}
            <label for="{{ form.password1.id_for_label }}">Contraseña</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.password2 }}
            <label for="{{ form.password2.id_for_label }}">Confirmar Contraseña</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            {{ form.pin }}
            <label for="{{ form.pin.id_for_label }}">PIN 10 digitos es ideal para enviar y recibir mensajes</label>
        </div>
    </div>
    <!-- Agregar campo 'profile_picture' -->
    <div class="row">
        <div class="file-field input-field col s12">
            <div class="btn">
                <span>Imagen de perfil</span>
                {{ form.profile_picture }}
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s8">
            <a href="{% url 'index' %}">Regresar</a>
        </div>
        <div class="col s12">
            <div class="right">
                <button class="btn blue waves-effect waves-light pull-s12">Registro</button>
            </div>
        </div>
    </div>
</form>

{% if messages %}
    <div class="row">
        <div class="col s12">
            <ul class="collection">
                {% for message in messages %}
                    <li class="collection-item {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
{% endblock %}
