<!-- En base.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- ... (encabezado común) ... -->
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'chats' %}">Chats</a></li>
                <li><a href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                <li><a href="{% url 'profile' %}">Mi Perfil</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
                
            </ul>
        </nav>
        {% endif %}
    </header>

    <!-- Agregar área para mostrar mensajes -->
    <div class="container">
        {% if messages %}
        <div class="alert alert-info">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- ... (pie de página común) ... -->
    </footer>
</body>
</html>
