<!--{% load static %}-->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu página</title>
    
    <!-- Agrega el enlace a tu archivo de estilos CSS aquí -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Inicio</a></li>
                <li><a href="{% url 'edit_profile' %}">Editar Perfil</a></li>
                <li><a href="{% url 'profile' %}">Mi Perfil</a></li>
                <li><a href="{% url 'enviar_mensaje' %}">Enviar Mensaje</a></li> <!-- Agrega este enlace -->
                <li><a href="{% url 'chat' %}">Chat</a></li>
                <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
        </nav>
        {% endif %}
    </header>
    

    

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- ... (pie de página común) ... -->
    </footer>
</body>
</html>
